@font-face {
  font-family 'palicon'
  font-weight normal
  font-style normal
  src url('http://www.cnfsec.com/fonts/palicon.woff?7p7a8z') format('woff')

}

[class^="pi-"], [class*=" pi-"] {
  font-family 'palicon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
}

.pi-play:before {
  content "\70"
}
