@font-face {
  font-family 'palicon'
  font-weight normal
  font-style normal
  src url('http://www.cnfsec.com/fonts/palicon.woff?7p7a8z') format('woff')

}

[class^="pi-"], [class*=" pi-"] {
  font-family 'palicon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
}


.pi-android:before {
  content "\e901"
}
.pi-apple:before {
  content "\e902"
}
.pi-add_outline:before {
  content "\e903"
}
.pi-add:before {
  content "\e904"
}
.pi-subtract_outline:before {
  content "\e905"
}
.pi-subtract:before {
  content "\e906"
}
.pi-cancel_outline:before {
  content "\e900"
}
.pi-cancel:before {
  content "\e907"
}
.pi-error_outline:before {
  content "\e908"
}
.pi-error:before {
  content "\e909"
}
.pi-info_outline:before {
  content "\e90a"
}
.pi-info:before {
  content "\e90b"
}
.pi-help_outline:before {
  content "\e90c"
}
.pi-help:before {
  content "\e90d"
}
.pi-check:before {
  content "\e90e"
}
.pi-close:before {
  content "\e90f"
}
.pi-arrow_upward:before {
  content "\e910"
}
.pi-arrow_downward:before {
  content "\e911"
}
.pi-arrow_back:before {
  content "\e912"
}
.pi-arrow_forward:before {
  content "\e913"
}
.pi-arrow_drop_up:before {
  content "\e914"
}
.pi-arrow_drop_down:before {
  content "\e915"
}
.pi-search:before {
  content "\e916"
}
.pi-person:before {
  content "\e917"
}
.pi-person_add:before {
  content "\e918"
}
.pi-account_circle:before {
  content "\e919"
}
.pi-call:before {
  content "\e91a"
}
.pi-camera:before {
  content "\e91b"
}
.pi-alarm:before {
  content "\e91c"
}
.pi-room_service:before {
  content "\e91d"
}
.pi-local_cafe:before {
  content "\e91e"
}
.pi-local_dining:before {
  content "\e91f"
}
.pi-local_wifi:before {
  content "\e920"
}
.pi-local_parking:before {
  content "\e921"
}
.pi-weekend:before {
  content "\e922"
}
.pi-nosmoke:before {
  content "\e923"
}
.pi-smoking_rooms:before {
  content "\e924"
}
.pi-hotel:before {
  content "\e925"
}
.pi-location:before {
  content "\e926"
}
.pi-map:before {
  content "\e927"
}
.pi-keyboard_voice:before {
  content "\e928"
}
.pi-airplanemode_active:before {
  content "\e929"
}
.pi-flight_land:before {
  content "\e92a"
}
.pi-flight_takeoff:before {
  content "\e92b"
}
.pi-airline_seat_recline_normal:before {
  content "\e92c"
}
.pi-airline_seat_recline_extra:before {
  content "\e92d"
}
.pi-star_outline:before {
  content "\e92e"
}
.pi-star_half:before {
  content "\e92f"
}
.pi-star:before {
  content "\e930"
}
.pi-image_outline:before {
  content "\e931"
}
.pi-image:before {
  content "\e932"
}
.pi-share:before {
  content "\e933"
}
.pi-sinaweibo:before {
  content "\e934"
}
.pi-wechat:before {
  content "\e935"
}
.pi-tripadvisor:before {
  content "\e936"
}
.pi-youtube:before {
  content "\e937"
}
.pi-gmail:before {
  content "\e938"
}
.pi-wc:before {
  content "\e939"
}
.pi-fingerprint:before {
  content "\e93a"
}
